In [30]:
import pandas as pd
import requests
import io

CSV_LINK = 'https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv'

In [31]:
# 1) Daten direkt in dataframe laden

df = pd.read_csv(CSV_LINK)

In [5]:
# 2) Display some basic information as rows, columns and some basic statistical info.

df.head(3)
df.describe()

             People          Area         BIP
count  5.000000e+00  5.000000e+00     5.00000
mean   1.027863e+08  3.907400e+06  2716.20000
std    6.759970e+07  4.904957e+06  1457.86083
min    3.650310e+07  3.013380e+05  1529.00000
25%    6.050172e+07  3.573850e+05  1798.00000
50%    8.252165e+07  3.778350e+05  1850.00000
75%    1.260450e+08  8.515770e+06  3466.00000
max    2.083600e+08  9.984670e+06  4938.00000

In [6]:
# 3) Show the last 4 rows of the data frame.

df.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [7]:
# 4) Show all the row of countries who have the EURO

df[df.Currency == 'EUR']

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

In [8]:
# 5) Show only name and Currency in a new data frame

df2 = df[['Name', 'Currency']]

In [9]:
# 6) Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)

df[df.BIP > 2000]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [10]:
# 7) Select all countries where with inhabitants between 50 and 150 Mio
df[(df.People > 50*10**6) & (df.People < 150*10**6)]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

In [11]:
# 8) Change BIP to Bip

df.rename(columns={'BIP': 'Bip'}, inplace=True)

In [12]:
# 9) Calculate the Bip sum

bip_sum = df.Bip.sum()
print(bip_sum)

13581

In [13]:
# 10) Calculate the average people of all countries

people_mean = df.People.mean(axis=0)
print(people_mean)

102786293.6

In [32]:
# 11) Sort by name alphabetically

df.sort_values(by='Name', inplace=True)
df

       Name     People     Area   BIP Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [33]:
# 12) Create a new data frame from the original where the area is changed as follows: 
# all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!


# df.loc[df.Area > 1000000, 'Area'] = 'BIG'
#df.loc[df.Area <= 1000000, 'Area'] = 'SMALL'

In [40]:
df3 = df.copy()
df3.Area = df3.Area.apply(lambda area: 'BIG' if area > 1000000 else 'SMALL')
df3

       Name     People   Area   BIP Currency
4  Brazilia  208360000    BIG  1798     REAL
2    Canada   36503097    BIG  1529      CAD
0   Germany   82521653  SMALL  3466      EUR
3     Italy   60501718  SMALL  1850      EUR
1     Japan  126045000  SMALL  4938      YEN